<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--link de css-->
    <link rel="stylesheet" href="/css/styles.css">
    <!--Favicon-->
    <link rel="icon" href="/images/WASD Favicon.png">
    <!--Tipografia-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!--Titulo Pestaña-->
    <title>WASD</title>
</head>

<body>
    <header>
        <nav class="nav">
            <div class="nav_contenedor">
                <img src="/images/Logo.png" alt="Logo" class="img_logo">
                <h1 class="nav_logo">WASD TECHNOLOGY</h1>
                <label for="menu" class="nav_label">
                    <i class="fas fa-bars fa-2x" style="color: white"></i>
                </label>
                <input type="checkbox" id="menu" class="nav_input">
                <div class="nav_menu">
                    <a href="carrito_de_compras" class="nav_items">Tienda<i class="fas fa-shopping-cart"></i></a>
                    <a href="login" class="nav_items">Login</a>
                    <a href="Registro" class="nav_items">Registro</a>
                    <a href="contacto" class="nav_items">Contacto</a>
                    <a href="buscar" class="nav_items"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <video src="/images/videoMain.mp4" controls autoplay muted></video>
        <br>
        <section class="carrusel">
            <h3>Destacados y recomendados</h3>
            <div class="carrusel_contenedor">
                <div class="carrusel_item">
                    <img src="/images/carrusel1.jpg" alt="lol" class="img_carrusel">
                    <h4>Juego 1</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
                </div>
                <div class="carrusel_item">
                    <img src="/images/carrusel3.jpg" alt="COD" class="img_carrusel">
                    <h4>Juego 2</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
                </div>
                <div class="carrusel_item">
                    <img src="/images/carrusel2.jpg" alt="destiny2" class="img_carrusel">
                    <h4>Juego 3</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
                </div>
        </section>
        <br>
        <h3>Que opinan nuestros clientes</h3>
        <section class="clientes">
            <div class="opinion_cliente">
                <img src="/images/face1.jpg" alt="face1" class="face">
                <div class="opinion">
                    <h4>Nombre</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id animi provident accusamus ducimus
                        iste molestias!</p>
                </div>
            </div>
            <div class="opinion_cliente">
                <img src="/images/face2.jpg" alt="face2" class="face">
                <div class="opinion">
                    <h4>Nombre</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id animi provident accusamus ducimus
                        iste molestias!</p>
                </div>
            </div>
            <div class="opinion_cliente">
                <img src="/images/face3.jpg" alt="face3" class="face">
                <div class="opinion">
                    <h4>Nombre</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id animi provident accusamus ducimus
                        iste molestias!</p>
                </div>
            </div>
        </section>

        <section class="ofertas">
            <h3>Ofertas</h3>
            <div class="ofertas_contenedor">
                <div class="oferta">
                    <h4>Oferta 1</h4>
                    <img src="/images/oferta1.jpg" alt="oferta1" class="oferta_img">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
                </div>
                <div class="oferta">
                    <h4>Oferta 2</h4>
                    <img src="/images/oferta2.jpg" alt="oferta2" class="oferta_img">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
                </div>
                <div class="oferta">
                    <h4>Oferta 3</h4>
                    <img src="/images/oferta3.jpg" alt="oferta3" class="oferta_img">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
                </div>
        </section>
    </main>
    <br>
    <footer>
         <nav class="footer">
             <div class="wasd">
                 <h3>WASD</h3>
             </div>
                <div class="footer_contenedor">
                    <div class="footer_item">
                       <img src="/images/Logo.png" alt="Logo" class="footer_logo"> 
                       <i class="fas fa-envelope"></i><a href="contacto" class="footer_items">Contacto</i></a>
                       <i class="fas fa-phone"></i><a href="#" class="footer_items">Telefono</a>
                       <i class="fab fa-twitter"></i><a href="#" class="footer_items">Twitter</a>
                       <i class="fab fa-facebook"></i><a href="#" class="footer_items">Facebook</a>
                       <i class="fab fa-instagram"></i><a href="#" class="footer_items">fa-instagram</a> 
                    </div>         
         </nav>
    </footer>
</body>

</html>