<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--link de css-->
    <link rel="stylesheet" href="/css/styles.css">
    <!--Favicon-->
    <link rel="icon" href="/images/WASD Favicon.png">
    <!--Tipografia-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2cd25f2c39.js" crossorigin="anonymous"></script>
    <!--Titulo Pestaña-->
    <title>WASD</title>
</head>
<body>
    <header>
    <nav>
        <div>
            <img src="/images/WASD Logo.png" alt="WASD Logo" id="logo">
        </div>
    
        <input type="checkbox" id="check">
        <label for="check" class="bar-btn">
            <i class="fas fa-bars"></i>
        </label>
        <ul class="nav-menu">
            <li><a href="#">Carrito</a></li>
            <li><a href="#">Consolas</a></li>
            <li><a href="#">Videojuegos</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Registro</a></li>
        </ul>
    </nav>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>